<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../normalize.css" />
    <link rel="stylesheet" href="./login.css" />
    <script
      src="https://kit.fontawesome.com/8b39c5593e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <a id="str" href="../home/index.html"
          ><i class="fa-solid fa-guitar"></i>STR</a
        >
        <a id="login" href="../login/login.html"
          ><i class="fa-solid fa-right-to-bracket"></i>Login</a
        >
        <a id="register" href="../register/register.html"
          ><i class="fa-solid fa-address-card"></i>Register</a
        >
        <a id="cart" href="../cart/cart.html"
          ><i class="fa-solid fa-cart-shopping"></i>Cart</a
        >
      </nav>
    </header>

    <main>
      <form>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <input type="submit" class="submit" value="Log in" />
      </form>
    </main>

    <footer>
      <div class="info f-item">
        <p class="phone f-item">
          <i class="fa-solid fa-phone"></i>012 345-6789
        </p>
        <p class="email f-item">
          <i class="fa-solid fa-envelope"></i>str@email.com
        </p>
        <p class="about f-item">
          <i class="fa-solid fa-user-group"></i>About us
        </p>
      </div>

      <div class="copy f-item">
        <i class="fa-regular fa-copyright"></i>
        <p class="copyright">All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
