<%- include('./partials/head') %>
<%- include('./partials/header') %>

    <main>
      <section class="section">
        
        <div class="img-cont">
          <img src="http://kingofeights.com/wp-content/plugins/slider/images/icon-img.png"/>
        </div>
          
        <div class="txt-cont">
          <h2 class="title">Gibson Modern Collection Les Paul (x1)</h2>
          <p class="price">$525.959</p>
          <button class="add-rest">- 1</button>
          <button class="add-rest">+ 1</button>
        </div>
      </section>
      
      <section class="section">
        <div class="img-cont">
          <img src="http://kingofeights.com/wp-content/plugins/slider/images/icon-img.png"/>
        </div>
        
        <div class="txt-cont">
          <h2 class="title">Fender Player Stratocaster (x1)</h2>
          <p class="price">$466.550</p>
          <button class="add-rest">- 1</button>
          <button class="add-rest">+ 1</button>
        </div>
      </section>
      
      <aside>
        <p class="total">Total: $ 992.509</p>
        <button class="buy">BUY NOW</button>
      </aside>
    
    </main>

<%- include('./partials/footer') %> 