<%- include('./partials/head') %>
<%- include('./partials/header') %>

    <main>
      <section>
        <a href="/detail-product/0">
          <img
            src="http://kingofeights.com/wp-content/plugins/slider/images/icon-img.png"
            alt="alt"
          />
        </a>
        <h2 class="title">Gibson Modern Collection Les Paul</h2>
        <p class="price">$525.959</p>
      </section>

      <section>
        <a href="/detail-product/1">
          <img
            src="http://kingofeights.com/wp-content/plugins/slider/images/icon-img.png"
            alt="alt"
          />
        </a>
        <h2 class="title">Fender Player Stratocaster</h2>
        <p class="price">$466.550</p>
      </section>

      <section>
        <a href="/detail-product/2">
          <img
            src="http://kingofeights.com/wp-content/plugins/slider/images/icon-img.png"
            alt="alt"
          />
        </a>
        <h2 class="title">Prs Se Series Custom</h2>
        <p class="price">$532.627</p>
      </section>

      <section>
        <a href="/detail-product/3">
          <img
            src="http://kingofeights.com/wp-content/plugins/slider/images/icon-img.png"
            alt="alt"
          />
        </a>
        <h2 class="title">Ibanez GB10SE brown sunburst</h2>
        <p class="price">$536.250</p>
      </section>
    </main>

<%- include('./partials/footer') %> 