<%- include('./partials/head') %>
<%- include('./partials/header') %>

    <main>
      <form method="post">
        <input type="email" placeholder="Email" name="email"/>
        <input type="password" placeholder="Password" name="password"/>
        <input type="submit" class="submit" value="Log in" />
      </form>
    </main>

<%- include('./partials/footer') %> 