<footer>
  <div class="info f-item">
    <p class="phone f-item">
      <i class="fa-solid fa-phone"></i>012 345-6789
    </p>
    <p class="email f-item">
      <i class="fa-solid fa-envelope"></i>str@email.com
    </p>
    <p class="about f-item">
      <i class="fa-solid fa-user-group"></i>About us
    </p>
  </div>

  <div class="copy f-item">
    <i class="fa-regular fa-copyright"></i>
    <p class="copyright">All rights reserved</p>
  </div>
</footer>
</body>
</html>